// font
$default-font-size : 1.6rem;

$primary : #c69963;
$primary-dark : #b28451;

$secondary : #101d2c;

// $gray-light-1 : #faf9f9;
// $gray-light-2 : #f4f2f2;
// $gray-light-3 : #f0eeee;
// $gray-light-4 : #ccc;

$gray-light-1 : #f9f7f6;
$gray-light-2 : #aaa;


// $gray-dark-1 : #333;
// $gray-dark-2 : #777;
// $gray-dark-3 : #999;

$gray-dark-1 : #54483a;
$gray-dark-2 : #6d5d4b;

$shadow-dark : 0 2rem 6rem rgba(0, 0, 0, .3);